@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-all ease-in-out duration-300 font-Inter;
  box-sizing: border-box;
}   

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background-color: #231F1E;
  border-radius: 10px;
}
.validation-error{
  @apply text-red-600 font-semibold text-sm mt-2
}


/*========================
        CART CARD
=========================*/

.cart-item-card {
  @apply w-full h-fit flex gap-x-4 max-w-[500px] min-h-28 items-center px-4 
  border-b-2 border-gray-100 hover:bg-gray-50 cursor-pointer rounded-sm mt-2 pb-1
}

.cart-item-card:hover .item-image img {
  @apply bg-[#d6d6d6]
}

.cart-item-card .item-image {
  @apply w-24 aspect-square flex  justify-center  items-center gap-x-1 sm:gap-x-2
}
.cart-item-card .item-image p{
  @apply font-bold text-slate-900 text-2xl
}
.cart-item-card .item-image img {
  @apply rounded-md bg-[#f5f6f6]
}

.cart-item-card .item-info {
  @apply flex w-full
}

.cart-item-card .item-info h2 {
  @apply font-semibold text-slate-900
}

.cart-item-card .item-info p {
  @apply text-slate-600 text-sm mt-1 
}

.cart-item-card .item-info .price {
  @apply text-slate-800 text-sm font-semibold 
}

.cart-item-card .item-description,
.cart-item-card .item-pricing {
  @apply flex flex-1 flex-col text-end sm:text-start
}


.deals-grid-container {
  @apply grid sm:justify-center sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-3 gap-y-12
}