@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
scrollbar-width: thin;
scrollbar-color: black #ccc ;
scrollbar-track-color: #ccc;
}

::-webkit-scrollbar {
width: 5px;
background-color: #ccc;
}

::-webkit-scrollbar-thumb {
background-color: #010101;
border-radius: 10px;
}

::-webkit-scrollbar-track {
background-color: #ccc;
}
