<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevalShoppingCart | API Documentation</title>
</head>
<body>
    <h1>DevalShoppingCart Api Documentation</h1>
    
</body>
</html>