.modal-wrapper,
.modal {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

.modal-wrapper {
    padding: 1px;
    position: absolute;
    top: -110%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: all 0.5s;

}

.modal-wrapper.show {
    top: 10%;
}

.modal {
    -webkit-box-shadow: 3px 3px 16.5px -7.5px #ccc6c6;
    -moz-box-shadow: 3px 3px 16.5px -7.5px #ccc6c6;
    box-shadow: 3px 3px 16.5px -7.5px #ccc6c6;
    position: relative;
}

.modal-header {
    @apply flex justify-end items-start text-gray-400 absolute top-0 right-0
}

.modal-content {
    @apply flex justify-start items-start gap-4 pr-7 py-2 text-slate-700 text-lg font-semibold
}

.modal-content .icon {
    @apply bg-white rounded-full flex justify-center items-center mt-1 ml-1;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    -webkit-box-shadow: 3px 3px 16.5px -7.5px #ccc6c6;
    -moz-box-shadow: 3px 3px 16.5px -7.5px #ccc6c6;
    box-shadow: 3px 3px 16.5px -7.5px #ccc6c6;
}

.custom-alert-danger {
    background: rgba(247, 12, 48, 0.02);
    background: -webkit-linear-gradient(83deg, rgba(247, 12, 48, 0.02) 0%, #ffffff 100%);
    background: linear-gradient(83deg, rgba(247, 12, 48, 0.02) 0%, #ffffff 100%);
}


.custom-alert-success {
    background: rgba(7, 190, 71, 0.02);
    background: -webkit-linear-gradient(83deg, rgba(12, 235, 90, 0.02) 0%, #ffffff 100%);
    background: linear-gradient(83deg, rgba(12, 235, 90, 0.02) 0%, #ffffff 100%);
}


.custom-alert-info {
    background: rgba(12, 200, 247, 0.02);
    background: -webkit-linear-gradient(83deg, rgba(12, 200, 247, 0.02) 0%, #ffffff 100%);
    background: linear-gradient(83deg, rgba(12, 200, 247, 0.02) 0%, #ffffff 100%);
}


.custom-alert-warning {
    background: rgba(247, 208, 12, 0.34);
    background: -webkit-linear-gradient(83deg, rgba(247, 208, 12, 0.34) 0%, #ffffff 100%);
    background: linear-gradient(83deg, rgba(247, 208, 12, 0.34) 0%, #ffffff 100%);
}