.scrollCarouselContainer {
    @apply relative w-full h-fit overflow-hidden;
}

.scrollCarousel {
    @apply flex overflow-x-auto scroll-smooth pb-3;

}

.scrollCarousel > * {
    @apply flex-none;
    flex: 0 0 calc(25% - 10px);
    margin: 0 5px;
}


@media (max-width: 1200px) {
    .scrollCarousel > * {
        flex: 0 0 calc(33.33% - 10px);
    }
}

@media (max-width: 900px) {
    .scrollCarousel > * {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 600px) {
    .scrollCarousel > * {
        flex: 0 0 calc(100% - 10px);
    }
}

.scrollCarouselProgressBar {
    @apply absolute bottom-0 left-0 w-full h-1 bg-[#e0e0e0];
}

.scrollCarouselProgress {
    @apply cursor-grabbing;
    height: 100%;
    background-color: #76c7c0;
}
