.home-hero-section{
    @apply container min-w-full h-screen  lg:h-[60vh] bg-gray-200 relative;
    background-position:center;
    background-size: cover;
    background-origin: content-box;
    
    background-repeat: no-repeat;
    background-image: var(--bg-img) ;
}
.home-hero-container{
    @apply flex justify-between items-center px-5 h-full lg:flex-row flex-col
}
.home-hero-content h2{
    @apply text-6xl font-bold text-customGreen
}
.home-hero-content p{
    @apply mt-8 text-lg  
}
.home-hero-content button{
    @apply py-3 px-8 bg-customGreen text-white  mt-5 rounded-full hover:bg-black
}
.home-hero-container .hero-image{
    @apply w-full h-full relative
}
.home-hero-container .hero-image img{
    @apply absolute h-full w-full
}
